body{
	 height: 100px;
}

resize {
  border: 2px solid;
  padding: 20px; 
  width: 300px;
  resize: horizontal;
  overflow: auto;
}
input { 
    text-align: center;
	background-color: #d2caca;
}


.right-col{
	background-color:#002157;
}

.color-red{
    color: #f76262;
	font-size: 16px;
	font-weight: bold;
	}
.color-white{
        color: #ffffff;
	font-size: 12px;
}

.errors{
	margint-bottom: 1rem;
}

#myBtn{
	background: #ffffff;
	color: #000000;
}

.img-left{
	padding-right: 0px;
}

#fillinput{
	height: 3rem;
	margin-top: -30px;
}
.input_group{
	height: 100px;
}

.result{
	height: 90px;
}
div.row {
  text-align: center;
}

.disclaimer{
	color: #fff;
	text-align: center;
}
#indication{
	font-size: 10px;
	margin-top:80px;
}

